<% layout('layouts/main') -%>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="typography">Campgrounds</h1>
                <p class="typography">Browse campgrounds</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <% campgrounds.forEach((campground) => { %>
            <article class="card mb-3">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <picture>
                            <img src="<%= campground.cover.uri %>" alt="<%= campground.title %>" />
                        </picture>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="card-body">
                            <h2 class="card-title typography"><%= campground.title %></h2>
                            <p class="card-text typography"><%= campground.description.substring(0, 200) %></p>
                            <p class="card-text typography">
                                <small class="text-muted"><%= campground.location %></small>
                            </p>
                            <a class="btn button button--default" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
                        </div>
                    </div>
                </div>
            </article>
            <% }); %>
        </div>
    </div>
</section>