<% layout('layouts/main') -%>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <%= campground.title %>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <caption>
                    <img src="<%= campground.cover %>" alt="<%= campground.title %> <%= campground.location %>" />
                    <p>Price/night <%= campground.price %>€</p>
                    <p>
                        <%= campground.location %>
                    </p>
                </caption>
                <a class="btn btn-primary" href="/campgrounds">All campgrounds</a>
                <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
            <div class="col-md-6">
                <article>
                    <%= campground.description %>
                </article>
            </div>
        </div>
    </div>
</section>