<% layout('layouts/main') -%>
<section>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <h1 class="typography">
                    <%= campground.title %>
                </h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <picture>
                        <img class="img-fluid" src="<%= campground.cover.uri %>" alt="<%= campground.title %> <%= campground.location %>" />
                    </picture>
                    <div class="card-body">
                        <p class="card-text typography">Location: <%= campground.location %></p>
                        <p class="card-text typograpty"><strong><%= campground.price %>€/night</strong></p>
                        <p class="card-text typography"><strong>Info about location:</strong></p>
                        <article class="card-text typography">
                            <%= campground.description %>
                        </article>
                    </div>
                    <div class="card-body">
                        <a class="btn button button--warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
                            <button class="btn button button--danger">Delete</button>
                        </form>
                    </div>
                    <div class="card-footer">
                        <p class="card-text typography"><%= getDaysAgo(campground.createdAt) %></p>
                        <a class="btn button button--default" href="/campgrounds">All campgrounds</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>